/*html*/
* {
    box-sizing: border-box;
}

html {
    background-image: url("/images/skatingRink.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

@media (max-width: 768px) {
    html {
        background-image: url("/images/skatingRink.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
    
/*header*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

a, li {
    color: white;
    font-size: 18pt;
    display: inline;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    padding: 10px;
    font-size: 20pt;
}

li:hover {
    color: lightblue;
    cursor: pointer;
}

@media (max-width: 800px) {
    a, li {
        flex-flow: row;
        display: inline-flex;
        justify-content: center;
    }
}

/*body*/
h1 {
    color: lightblue;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 8em;
    margin-top: 140px;
    text-shadow: 5px 8px whitesmoke;
    background-color: transparent;
    text-decoration: underline;    
}

button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 16pt;
    border-radius: 20px;
    padding: 20px;
}

button:hover {
    color: lightblue;
    cursor: pointer;
}